@tailwind base;

@tailwind components;

@font-face {
  font-family: "inter";
  src: url("Inter-Regular.woff") format("woff"),
    url("Inter-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "inter_bold";
  src: url("Inter-Bold.woff") format("woff"),
    url("Inter-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "fanwood";
  src: url("fanwood_text-webfont.woff") format("woff"),
    url("fanwood_text-webfont.eot") format("embedded-opentype"),
    url("fanwood_text-webfont.svg") format("svg"),
    url("fanwood_text-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "fanwood_italic";
  src: url("fanwood_text_italic-webfont.woff") format("woff"),
    url("fanwood_text_italic-webfont.eot") format("embedded-opentype"),
    url("fanwood_text_italic-webfont.svg") format("svg"),
    url("fanwood_text_italic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "chunk";
  src: url("ChunkFive-Regular.woff") format("woff"),
    url("ChunkFive-Regular.woff2") format("woff2"),
    url("ChunkFive-Regular.eot") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "lato";
  src: url("lato-regular-webfont.woff") format("woff"),
    url("lato-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "lato_bold";
  src: url("lato-bold-webfont.woff") format("woff"),
    url("lato-bold-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@tailwind utilities;
